# webstorm config not needed on github
.idea

dist 

# on npm install
node_modules

gulpfile.js

# prevent removing existing images !!!
# with not overwriting uploads folders on push
uploads

# don't push for security reasons
ecosystem.config.js