<div class="display-cover">
        <video autoplay></video>
        <canvas class="d-none"></canvas>
    
        <div class="webcam-info">
            <span></span>
        </div>

        <!-- The `label` is attached to the hidden file input -->
    <label for="cameraFileInput">
      <span class="btn">Open camera</span>

      <!-- The hidden file `input` for opening the native camera -->
      <input
        id="cameraFileInput"
        type="file"
        accept="image/*"
        capture="environment"
      />
    </label>

    <!-- displays the picture uploaded from the native camera -->
    <img id="pictureFromCamera" />

        <img class="screenshot-image d-none" alt="">
    
        <div class="controls">
            <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
            <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
            <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
        </div>
    </div>