<div class="display-cover">
        <video autoplay></video>
        <canvas class="d-none"></canvas>
    
        <div class="webcam-info">
            <span></span>
        </div>

        <img class="screenshot-image d-none" alt="">
    
        <div class="controls">
            <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
            <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
            <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
        </div> 
        <form>
            <input type="file" accept="image/*" capture="environment" multiple>
        </form>
    </div>